@model List<EnderecoModel>
@{
	ViewData["Title"] = "Endereços";
}

<div class="text-center">

	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-success" role="button" asp-controller="Cliente" asp-action="Criar">Adicionar novo Endereço do Cliente</a>
	</div>
	<br />
	<h1 class="display-4">Lista de Endereços</h1>
	<table class="table caption-top">
		<caption>Lista de Endereços</caption>
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">CEP</th>
				<th scope="col">Logradouro</th>
				<th scope="col">Bairro</th>
				<th scope="col">Cidade</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (EnderecoModel endereco in Model)
				{

					<tr>
						<th scope="row">@endereco.cep</th>
						<td>@endereco.logradouro</td>
						<td>@endereco.bairro</td>
						<td>@endereco.cidade</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
