@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Controle de Produtos</h1>
    <p>Sistema de controle de produtos para o curso de ASP.NET Core</p>
</div>
