@{
	ViewData["Title"] = "Home Page";
	var usuario = Context.Session.GetString("_Usuario");
}

<div class="text-center">
	<h1 class="display-4">Sistema de Cadastros</h1>
	<p>Sistema de Controle de Clientes e Produtos para o curso de ASP.NET Core</p>
</div>
